@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

.answer a {
  color: blue !important;
}       

@screen lg {
  .header-bg-lg {
    min-height: 700px;
  }
}

.menu-btn {
  @apply p-1 rounded-lg cursor-pointer text-brandDarkBlue;
}
.menu-btn:hover {
  @apply text-white bg-blue-800;
}
.active.menu-btn {
  @apply text-white bg-blue-700;
}

.transition-opacity-90, .transition-opacity-full, .transition-opacity-none {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.transition-opacity-90 {
  opacity: 0.9;
  visibility: visible;
}
.transition-opacity-full {
  opacity: 1;
  visibility: visible;
}
.transition-opacity-none {
  opacity: 0;
  visibility: hidden;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */